.main {
  height: 70vh;
  width: 100%;
  background-image: url("/public/assets/images/Ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
  box-sizing: border-box;

}

.main__article {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
}

@font-face {
  font-family: "Grtsk Giga";
  src: local("Grtsk"), url("../fonts/GrtskGiga-Bold.ttf") format("truetype");
}

.main__article__title {
  word-wrap: break-word;
  z-index: 0;
  font-weight: 700;
  text-align: center;
  font-family: "Grtsk Giga";
  width: 100%;
  -webkit-tranform: translateZ(0);
  -webkit-transition-duration: 0.05s;
  -moz-tranform: translateZ(0);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  color: #373737;
  line-height: 90%;
}

@font-face {
  font-family: "Grtsk Giga Italic";
  src: local("Grtsk italic"),
    url("../fonts/GrtskGiga-Italic.woff") format("truetype");
}

.main__article__runningtext {
  z-index: 100;
  position: absolute;
  font-family: "Grtsk Giga Italic";
  opacity: 0.1;
  border: 1px #373737;
}

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  line-height: 110%;
}

.marquee__top span {
  color: #212121;
  font-size: 25px;
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: marquee__top 10s infinite linear;
  animation: marquee__top 10s infinite linear;
}

.marquee__bottom span {
  color: #212121;
  font-size: 25px;
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: marquee__bottom 10s infinite linear;
  animation: marquee__bottom 10s infinite linear;
}

@-webkit-keyframes marquee__top {
  100% {
    -webkit-transform: translate(0, 0);
  }

  0% {
    -webkit-transform: translate(-100%, 0);
  }
}

@keyframes marquee__top {
  100% {
    transform: translate(0, 0);
  }

  0% {
    transform: translate(-100%, 0);
  }
}

@-webkit-keyframes marquee__bottom {
  0% {
    -webkit-transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-100%, 0);
  }
}

@keyframes marquee__bottom {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

a {
  text-decoration: none !important;
}

h1,
h6,
span {
  background: transparent;
  border: none;
  color: #000;
  font-family: "Grtsk Giga Semibold";
  line-height: 140%;

}

h6 {
  margin: 0;
}

h6:hover {
  color: #FFF;
}

aside:after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #fff;
  bottom: 0px;
  left: 0;
  transition: all ease-in 0.25s;
}

aside:hover:after {
  width: 100%;
  color: #fff !important;
}

@font-face {
  font-family: "Grtsk Giga Semibold";
  src: local("Grtsk semibold"), url("../fonts/GrtskGiga-Semibold.woff");
}

.main__aside__left {
  transform: rotate(-90deg);
}

.main__aside__right {
  transform: rotate(90deg);
}

.main__aside__bottom {
  position: absolute;
  bottom: -50px;
}

.main__article__textRotated {
  position: absolute;
  width: 118px;
  height: 118px;
}

img.rot:hover {
  animation: 15s linear 0s normal none infinite running rot;
  -webkit-animation: 15s linear 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .main__article__runningtext {
    transform: rotate(-25deg);
    width: 1400px;
  }

  .main__article__textRotated {
    top: 120%;
    left: 55%;
  }

  .main__article__title {
    font-size: 75px;
  }

  h6 {
    font-size: 14px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .main__article__runningtext {
    transform: rotate(-30deg);
    width: 1200px;
  }

  .main__article__textRotated {
    top: 120%;
    left: 55%;
  }

  .main__article__title {
    font-size: 60px;
  }

  h6 {
    font-size: 12px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .main__article__runningtext {
    transform: rotate(-32deg);
    width: 1100px;
  }

  .main__article__textRotated {
    top: 110%;
    left: 55%;
  }

  .main__article__title {
    font-size: 55px !important;
  }

  h6 {
    font-size: 11px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .main__article__runningtext {
    transform: rotate(-42deg);
    width: 900px;
  }

  .main__article__textRotated {
    top: 130%;
    left: 58%;
  }

  .main__article__title {
    font-size: 45px;
  }

  h6 {
    font-size: 10px;
  }
}

@media (max-width: 612px) {
  .main__article__runningtext {
    transform: rotate(-42deg);
    width: 900px;
  }

  .main__article__textRotated {
    top: 115%;
    left: 58%;
  }

  .main__article__title {
    font-size: 45px;
  }

  h6 {
    font-size: 9px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .main {
    height: 75vh !important;
  }

  .main__article__runningtext {
    transform: rotate(-65deg);
    width: calc(100%+50px);
  }

  .main__article__textRotated {
    top: 120%;
    left: 65%;
  }

  .main__article__title {
    font-size: 36px;
    width: 100%;
  }

  aside {
    display: none;
  }
}